.diagrams-box-ado-section-header {
  color: #1497c1;
  display: inline-block;
  font-weight: bold;
}
.box-diagram {
  font-size: 25px;
  .diagrams-box-definition-text {
    font-weight: bold;

    fill: #18694a;
  }
  .diagrams-box-not-completed-tag {
    font-weight: bold;

    fill: #6576af;
  }
  .diagrams-box-not-completed-block {
    fill: #333;
    .diagrams-box-definition-text {
      fill: #737958;
    }
  }
}
.box-diagram {
  rect,
  text {
    cursor: pointer;
  }
}
.collapsible-trigger {
  fill: #af2661;
  text.plus {
    font-size: 30px;
  }
  text.minus {
    font-size: 50px;
  }
}

.diagrams-box-ado-section {
  float: left;
  width: 49%;
}