@import 'compass';

body {
  margin: 0;
}
rect {
  stroke: #000000;
}
.diagrams-diagram-button {
  margin: 10px 15px 20px;
}
.layer-node path {
  cursor: pointer;
}
.box-diagram {
  font-size: 25px;
}
.layers-diagram, .box-diagram {
  rect, text {
    cursor: pointer;
  }
}
.layers-diagram {
  font-size: 13px;
  rect, text {
    cursor: pointer;
  }
}
.graph-diagram {
  .link {
    &.shy-link {
      &.shy-link-hidden {
        display: none;
      }
      &.shy-link-showed {
        display: block;
      }
    }
    .link-path {
      fill: none;
      stroke-width: 1.5px;
    }
    .link-path-outer {
      cursor: pointer;

      stroke: rgba(0,0,0,0);
      stroke-width: 40px;
      fill: none;
    }
  }
  .node {
    cursor: pointer;
    &.node-hidden {
      visibility: hidden;
    }
    text {
      text-anchor: middle;
    }
    .triangle, .square, circle {
      stroke: #000000;
      &.bold {
        stroke-width: 4px;
      }
      &.thin {
        stroke-width: 1px;
      }
    }
  }
}
pre {
  font-size: 20px;
  &.last-code-block {
    background-color: #EAF3FA;
  }
}
.collapsible-trigger {
  fill: rgb(49, 179, 35);
  text.plus {
    font-size: 30px;
  }
  text.minus {
    font-size: 50px;
  }
}
