@import 'compass';

@import 'box';
@import 'graph';
@import 'layer';

body {
  margin: 0;
}
rect {
  stroke: #000;
}
.diagrams-diagram-button {
  margin: 5px 15px 10px;
}

pre {
  font-size: 20px;
  &.last-code-block {
    background-color: #eaf3fa;
  }
}
