@import 'compass';

body {
  margin: 0;
}
rect {
  stroke: #000000;
}
.diagrams-diagram-button {
  background: none;
  border: 0;
  box-shadow: none;
  color: #337AB7; // bootstrap's blue link color
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 0px 20px;
  outline: 0;
  &:hover, &:focus {
    border: 0;
    color: #215480; // Similar but not the same as bootstrap
  }
}
.layer-node path {
  cursor: pointer;
}
.box-diagram {
  font-size: 25px;
}
.layers-diagram, .box-diagram {
  rect, text {
    cursor: pointer;
  }
}
.layers-diagram {
  font-size: 13px;
  rect, text {
    cursor: pointer;
  }
}
.graph-diagram {
  .link path {
    fill: none;
    stroke-width: 1.5px;
  }
  .node {
    cursor: pointer;
    &.node-hidden {
      visibility: hidden;
    }
    text {
      text-anchor: middle;
    }
    .triangle, .square, circle {
      stroke: #000000;
      &.bold {
        stroke-width: 4px;
      }
      &.thin {
        stroke-width: 1px;
      }
    }
  }
}
pre {
  font-size: 20px;
  &.last-code-block {
    background-color: #EAF3FA;
  }
}